.btn-outline-danger {
    border: none;
    background-color: transparent;
  }
  
  .btn-outline-danger:hover,
  .btn-outline-danger:focus {
    background-color: transparent;
    border: none;
    box-shadow: none; /* Optional: removes Bootstrap focus ring */
  }
  