/* Table container */
.table-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    /* padding: 24px; */
    margin: 24px 0;
    overflow-x: auto;
    /* margin-left: 100px;
    margin-right: 100px; */
  }
  
  .custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
    font-family: 'poppins';   
    font-size: 14px;
  }
  
  .custom-table th, .custom-table td {
    padding: 9px 6px;
    text-align: left;
    padding-left: 20px;
    /* margin-left: 10px; */
    border-bottom: 1px solid #f0f0f0;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
  }
  
  .custom-table th {
    color: #038ba4;
    font-weight: 600;
    background: #f9f9f9;
    border-bottom: 2px solid #e3e3e3;
    letter-spacing: 0.5px;
  }
  
  .custom-table tr:last-child td {
    border-bottom: none;
  }
  
  .custom-table tr {
    transition: background 0.2s;
  }
  
  .custom-table tbody tr:hover {
    background: #f5faff;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  
  
  @media (max-width: 900px) {
    .custom-table th, .custom-table td {
      padding: 10px 8px;
      font-size: 13px;
    }
    .table-container {
      padding: 8px;
    }
  }

.status-badge {
    display: inline-flex;
    padding: 5px;
    width: fit-content;
    max-height: fit-content;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.status-badge.active {
    background-color: #e8f5e8;
    color: #2e7d32;
    border: 1px solid #c8e6c9;
}

.status-badge.inactive {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #ffcdd2;
}

.status-badge.scheduled {
  background-color: #ffffff;
  color: rgb(80, 78, 78); 
  border: 1px solid rgb(97, 95, 95); 
}
